<div class="about-section">

  <img src="https://media1.popsugar-assets.com/files/thumbor/9tBGf85Ff4O4HlLJTFa-1kJg8lA/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2015/09/02/943/n/1922441/8e89e93b2e164a39_10661161_749732288454843_687589519_n/i/Pumpkin-Pie.jpg">

    <div class="about-words">

      <p>Hey-oh.

        <br>

       I have celiac disease and a dairy allergy, but love eating and talking about food. This is my little place for food-specific musings, experimental beer testing (EZ), and various product reviews.</p>

    </div>
</div>